body {
    font-size: 16px;
	background-color: #000000;
   }
h1, h1.about, h1.hobbies{
    font-family: 'Pirata One', cursive, sans-serif;
	color: #990000;
    font-weight: 700;
    font-size: 75px;
    padding-top: 10px;
    margin: auto;
    text-align: center;
    padding-top: 45px;

}
h2,h2.aboutsub {
    font-family: 'Nova Cut', cursive;
	color: #DADBDD;
    font-weight: 500;
    font-size: 50px;
    word-spacing: 0.3em;
    margin: auto;
    padding: 15px;
}
article {
    font-family: 'Ubuntu Mono', monospace;
	color: #FFFFFF;
    font-size:2em;
    line-height: 1.5em;
	text-align: justify;
}
address {
    text-align: center;
    font-family: 'Press Start 2P', cursive,“Times New Roman” serif;
}
img {
	padding: 20px;
}
button{
    background-color: #000000;
    font-family: Quintessential;
    font-size: 5px;
    color: #DADBDD;
    width: 200px ;
    height: 75px;
}
#stuff{
margin-top: 2%;
margin-bottom: 2%;
display: grid;
grid-auto-flow: column;
padding: 3%;
align-items: center;
}
#tv{
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-auto-flow: column;
    padding: 2%;
    }
button:hover{
    cursor: grab;
    background-color:#000000;
    border-color: rgba(5, 147, 241, 0.733);
    box-shadow: 0 4px 8px 0  rgba(5, 99, 241, 0.719);
    color:#DADBDD;
}

nav a:link{
    text-decoration: none;
	color: #DADBDD;
    background-color: #000000;
}
nav a:visited{
    text-decoration: none;
	color: #0020C2;
    background-color:#000000;
}
nav a:hover{
    background-image: url(images/background/test.gif);
    cursor: grab;
    color:#990000;
}
nav{
    position: fixed;
	padding-left:500px;
    padding-right: 600px;
	font-family: 'Quintessential', cursive;
	width: 2000 px;
    height: 20 px;
	font-size: 3em;
    overflow: hidden;
    background-color: #000000;
}
img.DK1{
    float: left;
    padding-left: 20px;
    padding-top: 75px;
}
img.DK2{
    float: left;
    padding-left: 1150px;
    padding-top: 50px;
}
h1.DK{
    position: absolute;
    padding-left: 480px;
    padding-top: 325px; 
}
h2.occupation{
    position: absolute;
    padding-left: 480px;
    padding-top: 400px; 
}
img.DKln{
    position: fixed;
    float: right;
    padding-right: 100px;
    padding-top: 20px;
    height: 34px;
    width: 34px;
    background-color: #000000;
}
article a.smalllink{
    text-decoration: none;
	color: #990000;
}
ul{
    font-weight: 200;
	list-style-position: inside;
}
article a.linklist{
    text-decoration: none;
    cursor: crosshair;
	color: #990000;
}
a:visited{
    text-decoration: none;
	color: #DADBDD;
}
button a:link{
    text-decoration: none;
    cursor: grabbing;
    
}
button a:visited{
    text-decoration: none;
    
}

ul.authors{
list-style: circle;
display:grid;
grid-auto-flow: column;
padding-left: 3%;
}
li.names{
    padding: 1%;
}
#bookshelf{
    display: grid;
    grid-auto-flow: column;
}
#main{
    padding: 20px;
    overflow: none;
}