body {
    font-size: 16px;
	background-color: #000000;
   }
   h1 {
    font-family: 'Pirata One', cursive, sans-serif;
	color: #990000;
    font-weight: 700;
    font-size: 3.052em;
    margin: auto;
    text-align: center;
}
   h2 {
    font-family: 'Nova Cut', cursive;
	color: #DADBDD;
    font-weight: 500;
    font-size: 2.441em;
    word-spacing: 0.2em;
    margin: auto;
    padding: 15px;
}
p {
    font-family: 'Ubuntu Mono', monospace;
	color: #FFFFFF;
    font-size:2em;
    line-height: 1.5em;
	text-align: justify;
}
address {
    text-align: center;
    font-family: 'Press Start 2P', cursive,“Times New Roman” serif;
}
img {
	padding: 20px;
}
img.icon {
	padding: 80px;
}
a:link{
    text-decoration: none;
	color: #DADBDD;
}
a:hover{
    background-color:#191970;
    cursor: grab;
}
table {
        border-spacing: 0 5px;
		padding-left: 600px;
        position: fixed;
      }
tr, th{
	text-align: center;
	font-family: 'Quintessential', cursive;
	width: 150 px;
	padding: 5px;
	font-size: 1.5em;
}
img.DK1{
    float: left;
    padding-left: 0px;
    padding-top: 75px;
}
img.DK2{
    float: left;
    padding-left: 1100px;
    padding-top: 100px;
}
h1.DK{
    position: absolute;
    padding-left: 575px;
    padding-top: 400px; 
}
h2.occupation{
    position: absolute;
    padding-left: 575px;
    padding-top: 475px; 
}
img.DKln {
    position: fixed;
    padding-left: 450px;
    padding-top: 20px;
    height: 45px;
    width: 45px;
}